<p-card header="Iniciar Sessión">
    <p-header>
        
    </p-header>
<div>
    <span class="ui-float-label">
    <input id="float-input" pInputText type="text" [(ngModel)]="usuario" > 
    <label for="float-input">Usuario</label>
    </span>
    <span class="ui-float-label">
    <input type="float-password" pPassword [(ngModel)]="clave"/>
    <label for="float-password">Clave</label>
    </span>
</div>

    <p-footer>
            <p-button label="Iniciar Sesión" (click)='iniciarSesion()' ></p-button>
    </p-footer>
</p-card>
