<p-menubar [model]="menuItems" *ngIf="loginService.estaLogeado()" >
    <div>
        <button pButton label="Logout" icon="pi pi-sign-out" style="margin-left:.25em"
        (click)="loginService.cerrarSesion()" ></button>
    </div>
</p-menubar>
<br />
<router-outlet></router-outlet>
