<router-outlet></router-outlet>
<div *ngIf="seeTable">
<p-table [columns]="cols" [value]="alumnos" selectionMode="single" [(selection)]="selectedAlumno" dataKey="idAlumno" >
  <ng-template pTemplate="caption">
      Lista de alumnos
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th *ngFor="let col of cols">
              {{col.header}}
          </th>
      </tr>
      <tr>
        <th *ngFor="let col of cols" [ngSwitch]="col.field">
          <input *ngSwitchCase="'nombres'" [style]="{'width':'100%'}" pInputText type="text" 
          (keyup.enter)="filterNombres($event, col.field)" 
          [(ngModel)]="fNombres" >
          <p-dropdown *ngSwitchCase="'apellidos'" [options]="apellidos" [style]="{'width':'100%'}" 
          (onChange)="filterApellidos($event.value, col.field)"
          [(ngModel)]="fApellidos" ></p-dropdown>
        </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car let-cols="columns">
    <tr [pSelectableRow]="car" >
        <td *ngFor="let col of cols">
                {{car[col.field]}}
        </td>
    </tr>
  </ng-template>
  <!--<ng-template pTemplate="summary">
    <div style="text-align: left">
        Selected Car: {{selectedAlumno ? selectedAlumno.idAlumno + ' - ' + selectedAlumno.nombres + ' - ' + selectedAlumno.apellidos : 'none'}}
    </div>
  </ng-template>-->
</p-table>
<p-paginator (onPageChange)="paginate($event)" [rows]="3" [totalRecords]="cantidad" [rowsPerPageOptions]="[3,10]" pageLinkSize="4" ></p-paginator>
<p-button icon="pi pi-plus" label="" routerLink='/alumno/nuevo'></p-button>&nbsp;
<p-button icon="pi pi-pencil" label="" (click)='editar()' ></p-button>&nbsp;
<p-button icon="pi pi-trash" label="" routerLink='/alumno/nuevo'></p-button>
</div>
<div>
  <br />
  {{fNombres}}
  <br />
  {{fApellidos}}
</div>