
<!--<form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)"   >-->
<form [formGroup]="userform" (ngSubmit)="operar()"   >
    <p-panel header="Validate">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row" *ngIf="edicion" >
                <div class="ui-grid-col-2">
                    Id :
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="id" />
                </div>
                <div class="ui-grid-col-4">
                </div>
            </div>            
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Nombres *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="nombres" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="nombres is required" *ngIf="!userform.controls['nombres'].valid&&userform.controls['nombres'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Apellidos *:
                </div>
                <div class="ui-grid-col-6">
                    <input pInputText type="text" formControlName="apellidos" placeholder="Required"/>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="apellidos is required" *ngIf="!userform.controls['apellidos'].valid&&userform.controls['apellidos'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-5">
                    
                </div>
                <div class="ui-grid-col-5">
                    
                </div>
            </div>
            <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                Form Submitted
                <br>
                {{diagnostic}}
            </div>
        </div>
    </p-panel>
    <button icon="pi pi-save" pButton type="submit" label="Grabar" [disabled]="!userform.valid"></button>&nbsp;
    <button icon="pi pi-sign-out" pButton type="button" label="Cancelar" (click)='cancelar()' ></button>
</form>

    